PORT=4000
FRONTEND_URL=http://localhost:5173
MONGODB_URL=
JWT_SECRET=
JWT_REFRESH_SECRET=

GROQ_API_KEY=
GROQ_MODEL=llama-3.1-8b-instant

MAIL_HOST=
MAIL_USER=
MAIL_PASS=

cloudinary_cloud_name=
cloudinary_api_key=
cloudinary_api_secret=

Google_Client_id=
Google_secret_key=
